@import "settings";
@import "foundation";

$link-color: #3b5998;
$hover-color: #008cba;
$content-width: 1300px;
// $content-width: 900px;

body {
    background-color: #8D8D8D;
}

.page-box {
    max-width: $content-width;
    background-color: black;
    margin: 0 auto;
    box-shadow: 0px 0px 20px black;
    height: 100%;
}

a {
    color: $link-color;
    &:hover {
        color: $hover-color;
    }
}

html, p, .button, ul, li {
    font-family: 'Signika Negative';
    font-size: 12pt;
    line-height: 2;
    font-weight: 300;
}

h1, h2, h3, h4, .bgheader .button {
    font-family: 'Passion One', fantasy;
}

h3 {
    font-size: 2em;
}

#map-canvas { height: 100% }
.map {
    margin-top: 2em;
}

.right-off-canvas-menu {
    a {
        font-family: 'Signika Negative';
        font-size: 1em;
        color: black;
        background-color: white;
        width: 100%;
        text-transform: uppercase;
        text-align: left;
        font-size: 0.8em;
        padding-top: 0.7em;
        padding-bottom: 0.7em;
        margin-bottom: 0.8em;
        &:hover {
            background-color: black;
            color: white;
        }
    }
    ul {
        margin-top: 1em;
        list-style: none;
        width: 100%;
    }
}

a.exit-off-canvas {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.menu {
    display: block;
    position: absolute;
    color: white;
    top: 1em;
    right: 1em;
    text-align: center;
    margin-left: 3em;
    width: 2.5em;
    height: 2.5em;
    padding: 0px;
    font-weight: bold;
    z-index: 100;
    background-color: transparent;
    &:hover {
        color: black;
        background-color: transparent;
    }
    span {
        position: relative;
        top: 0.1em;
        font-size: 1.6em;
        padding: 0em;
        // background-color: transparent;
    }
}


.bgheader {
    position: relative;
    background-image: url(../images/header-landing.jpg);
    height: 18em;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    max-width: $content-width;
    margin: 0 auto;

    .button {
        padding: 0.3em;
        padding-right: 0.5em;
        text-transform: uppercase;
        font-size: 1.3em;
        border: 0px !important;
    }
}


.links {
    position: absolute;
    bottom: 1em;
    font-size: 14pt;

    a {
        color: white;
    }
    a:hover {
        color: black;
    }

    // With BackgroundCheck http://www.kennethcachia.com/background-check/index.html
    .background--light {
        background-color: rgba(0, 0, 0, 0.29);
        border-radius: 10px;
    }


    .button {
        margin: 0;
        background-color: transparent;
    }
}



.main-menu-sep {
    float: none;
}

@media #{$medium-up} {
    .main-menu-sep {
        display: none;
    }
}



.content img, .responsive-youtube {
    // some copy paste from octropres...
    border-radius: 0.3em;
    box-shadow: rgba(0,0,0,0.15) 0 1px 4px;
    box-sizing: border-box;
    border: #fff 0.5em solid;

}

.content {
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    max-width: $content-width;
    padding-top: 2em;
    padding-bottom: 2em;

    .right {
        max-width: 45%;
        float: right;
        margin-right: 1em;
        margin-left: 1em;
    }
    .left {
        max-width: 45%;
        float: left;
        margin-right: 1em;
        margin-left: 1em;
    }


    .row {
        .action-button {
            margin-top: 1em;
            margin-bottom: 1em;
        }
        .button {
            display: block;
            // margin: 0 auto;
            width: 10em;
            background-color: $link-color;
            color: white;
            &:hover {
                background-color: $hover-color;
            }
        }
    }


}

.feed {
    * {
        width: 99%;
    }
    // width: 20em;
    // margin: auto;
    // margin-top: 1em;
}
@media #{$small-only and $medium-only} {
    .feed * {
        // width: 100% !important;
        // display: none;
    }
}


.logo {
    // left: 3em;
    // top: .7em;
    height: 4em;
    // position: absolute;
    opacity: 0.7;
}

footer {
    width: 100% !important;
    padding-top: 4em;
    padding-left: 2em;
    padding-bottom: 4em;

    font-size: small;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    color: white;
    background-color: black;

    h1 {
        color: white;
        text-transform:uppercase;
        font-size: 18pt;
    }

    .column {
        padding-left: 1em !important;
        margin-bottom: 2em;
    }

    p {
        margin: 0px;
    }

    ul {
        list-style: none;
        margin: 0px;

        li a {
            color: white;
            &:hover {
                color: gray;
            }
        }
    }


}



.responsive-youtube {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.footer-jump .fa {
    font-size: 22pt !important;
    position: relative;
    top: 5px;

}

.flash {
    animation: flash 0.5s ease-out;
    animation-iteration-count: 1;
}

@keyframes flash {
    0% {
        background-color: black;
    }
    50% {
        background-color: white;
    }
    100% {
        background-color: black;
    }
}
